<?xml version="1.0" encoding="utf-8"?>
<openbox_menu>
  
  <menu id="power-menu" label="Power Options">
    <item label="Sleep">
      <action name="Execute" command="systemctl suspend"/>
    </item>
    <item label="Hibernate">
      <action name="Execute" command="systemctl hibernate"/>
    </item>
    <item label="Reboot">
      <action name="Execute" command="systemctl reboot"/>
    </item>
    <item label="Shut Down">
      <action name="Execute" command="systemctl poweroff"/>
    </item>
    <separator />
    <item label="Exit Labwc">
      <action name="Exit"/>
    </item>
  </menu>

  <menu id="root-menu" label="labwc">

    <item label="Settings">
      <action name="Execute" command="cosmic-settings"/>
    </item>

    <item label="Terminal">
      <action name="Execute" command="kitty"/>
    </item>

    <item label="System Monitor">
      <action name="Execute" command="kitty btop"/>
    </item>

    <separator />
    
    <item label="Reload Labwc">
      <action name="Reconfigure"/>
    </item>

    <menu id="power-menu"/>

  </menu>
</openbox_menu>