<?xml version="1.0" encoding="utf-8"?>
<openbox_menu>
  <menu id="settings-menu" label="Settings">
    <item label="Audio Control">
      <action name="Execute" command="pavucontrol"/>
    </item>
    <item label="Bluetooth">
      <action name="Execute" command="blueman-manager"/>
    </item>
    <item label="Displays">
      <action name="Execute" command="wdisplays"/>
    </item>
    <item label="Network Connections">
      <action name="Execute" command="nm-connection-editor"/>
    </item>
  </menu>

  <menu id="power-menu" label="Power Options">
    <item label="Sleep">
      <action name="Execute" command="systemctl suspend"/>
    </item>
    <item label="Hibernate">
      <action name="Execute" command="systemctl hibernate"/>
    </item>
    <item label="Reboot">
      <action name="Execute" command="systemctl reboot"/>
    </item>
    <item label="Shut Down">
      <action name="Execute" command="systemctl poweroff"/>
    </item>
    <separator />
    <item label="Exit Labwc">
      <action name="Exit"/>
    </item>
  </menu>

  <menu id="root-menu" label="labwc">

    <menu id="settings-menu"/>

    <item label="Terminal">
      <action name="Execute" command="kitty"/>
    </item>

    <item label="System Monitor">
      <action name="Execute" command="kitty btop"/>
    </item>

    <separator />
    
    <item label="Reload Labwc">
      <action name="Reconfigure"/>
    </item>

    <menu id="power-menu"/>

  </menu>
</openbox_menu>