/* Gruvbox Material Dark Hard Palette */
@define-color bg      #1d2021; /* Background */
@define-color fg      #d4be98; /* Foreground */
@define-color cherry  #ea6962; /* Red (Replacing Cherry) */
@define-color stone   #3c3836; /* Darker Gray (Replacing Stone) */
@define-color yellow  #d8a657; /* Yellow for accents */

* {
    font-family: "Noto Sans Mono";
    font-size: 14px; 
    border: none;
    border-radius: 0;
}

window#waybar {
    background: transparent;
}

#workspaces, #clock, #window, #custom-nvidia, #cpu, #memory, #tray {
    background-color: @bg;
    color: @fg;
    padding: 0 20px;
    border: 1px solid @stone;
    margin: 0 5px;
}

#workspaces button {
    color: @fg;
    padding: 0 10px;
}

#workspaces button.active {
    color: @cherry;
    border-bottom: 3px solid @cherry;
}

#window {
    font-size: 14px;
    border-left: 3px solid @cherry;
    color: @fg;
}

#custom-nvidia, #cpu, #memory {
    font-size: 15px;
    font-weight: bold;
    color: #a9b665; /* Using the Gruvbox Green for these stats */
}

#clock {
    border-bottom: 2px solid @yellow; /* Changed to Yellow for a nice contrast */
    color: @fg;
}

#tray {
    margin-right: 0;
}