@define-color bg #101017;
@define-color fg #bdc3df;
@define-color cherry #ff568e;
@define-color stone #33333f;

* {
    font-family: "Noto Sans Mono";
    font-size: 14px; 
    border: none;
    border-radius: 0;
}

window#waybar {
    background: transparent;
}

#workspaces, #clock, #window, #custom-nvidia, #cpu, #memory, #tray {
    background-color: @bg;
    color: @fg;
    padding: 0 20px;
    border: 1px solid @stone;
    margin: 0 5px;
}

#workspaces button {
    color: @fg;
    padding: 0 10px;
}

#workspaces button.active {
    color: @cherry;
    border-bottom: 3px solid @cherry;
}

#window {
    font-size: 14px;
    border-left: 3px solid @cherry;
    color: @fg;
}

#custom-nvidia, #cpu, #memory {
    font-size: 15px;
    font-weight: bold;
}

#clock {
    border-bottom: 2px solid @fg; 
}

#tray {
    margin-right: 0;
}